@charset "EUC-KR";

.player-list{
	display: grid;
	grid-template-columns : repeat(6,1fr);
	gap: 3px;
}

.player-list > div {
	border: solid 1px black;
	border-radius: 5px;
	text-align: center;
}

.name {
	background-color: black;
	color: white;
	font-weight: 700;
}